* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: burlywood;
}

/* Navbar */

.header {
    padding: 20px;
    width: 100%;
    background: rgb(129, 129, 129);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
  }
  
  .header .logo {
    font-style: italic;
    font-size: 20px;
  }
  .h3 {
      font-size: 30px;
      font-weight: bold;
      margin-left: 40%;
  }
  
  .header .logo span {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  .header nav {
    color: white;
  }
  
  .header nav a {
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .header nav a {
    color: black;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    border-radius: 30px;
  }
  
  .header nav a:hover {
    opacity: 0.9;
    color: rgb(255, 0, 0);
  }

.item-img {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

    transition: 00.3s ease-in-out;
}

.item-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

.line {
    width: 5px;
    height: 300px;
    background-color: #000000;
    border-radius: 20px;
}

.item {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 2px solid rgba(255 , 255, 255, 0.18);
    padding: 30px;
    width: 350px;
    margin: 20px auto;
    background: slategrey;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container img {
  width: 100%;
  height: 100%;
}

.add-btn {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px;
    color: #000000;
    margin-top: 20px;
}

.add-btn:hover {
    background-color: #00ff0d;
    border: #0ce7ca;
    color: #000000;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

body{
    font-family: Arial, Helvetica, sans-serif;
 
}

.image-icon {
    margin-left: 0px;
    margin-top: 10px;
    height: 200px;
    width: 250px;
    border-radius: 15px;
    border: rgb(0, 0, 0) 1px solid;
}

.head {
    display: flex;
    margin-top: 57px; 
}

.h1{
    margin-top: 20px;
    margin-left: 50px;
}

.heading{
    margin-left: 300px;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 50px;
    color:darkslategrey;
}

.edit-cart {
    background: none;
    border: none;
    font-size: 3rem;
}


.user-cart {
    background: none;
    border: none;
    font-size: 3rem;
}

.edit-cart:hover{
    transition: ease-in-out 0.2s;
    color: #00ff0d;
    cursor: pointer;
    font-size: 3rem;
}

.user-cart:hover {
    transition: ease-in-out 0.2s;
    color: #00ff0d;
    cursor: pointer;
    font-size: 3rem;
}

.cart_edit{
    margin-left: 77%;
    margin-top: 20px;
}

.price {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: beige;
}

.cars-name {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: antiquewhite;
}